@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
font-family: 'Nanum Gothic', sans-serif;
}

*{
    /* border: 1px solid red; */
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

main{
    display: flex;
    width: 100%;
    height: auto;
}

.main-left,
.main-right{
    flex-basis: 20%;
}

.main-center{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-center > div:first-child{
    margin-top: 100px;
    margin-bottom: 100px;
    
    width: 900px;
    height: 60px;
    
    font-weight: bold;
    font-size: 25px;
    
    border: 5px solid #FEE4D6;
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* info-input */

.info-input{
    display: flex;
}

/* info-input - img-box */

.img-box{
    display: flex;
    align-items: center;
}

.img-thumbnail button{
    width: 250px;
    height: 250px;
}

#thumbnailButton{
    border: none;
}



/* info-input - select-box */
.select-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.select-box > div{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.select-box > div label{
    width: 100px;
    height: 30px;
    background-color: #FEE4D6;
    margin-right: 5px;

    font-size: 13px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-box input{
    width: 300px;
    height: 29px;

    border: none;
    background-color: #f6f6f6;
    
}

.select-box input::placeholder {
    padding-left: 5px; 
}

select{
    width: 304px;
    height: 29px;

    border: none;
    background-color: #f6f6f6;

    text-indent: 5px;
    
}


/* img-input */

.img-input{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 80px;
}

.boardImg{
    display: flex;
    flex-direction: column;
}

div[id ^= imageButton] {
    width: 300px;
    height: 200px;

    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F0F0F0;
}

.delete-image,
.boardImg input{
    cursor: pointer;
}

.boardImg span{
    margin-left: 280px;
}


#submit{
    background-color: #FEE4D6;
    border: none;

    width: 100px;
    height: 40px;

    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}