<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>후원하기</title>
        <link rel="stylesheet" th:href="@{/css/donation/donation.css}">
    </head>
    <body>

<!--
		<th:block th:replace="~{common/header}"></th:block>
-->
 	 	
        <main>
            <section class = "donationIntro">
                <div class = "donationIntroTitle">
                    후원하기
                </div>
                <div class = "donationIntroContent">
                    <pre>
                        후원은 사랑의 가장 큰 표현입니다.
                        작은 도움이 모여 큰 변화를 만들 수 있습니다.
                        당신의 후원이 이 작은 생명들에게 새로운 삶을 선물할 수 있습니다.
                        지금 후원하시고, 더 나은 내일을 만드는데 동참해주세요!
                    </pre>
                </div>
            </section>


            <section class = "donationProcessBoxArea">
                <div class = "donationProcessBox">
                    <div class = "donationProcess">
                        <div class = "donationProcessTitle">
                            후원 주기
                        </div>
                        <div class = "donationProcessArea">
                            <!-- <input type = "radio" name = "cycle">
                            <div class = "donationButton" id = "donationCycleOne">
                                일시
                            </div> -->
    
                            <label class = "donationButton">
                                <input type = "radio" name = "cycle" value="일시">
                                <div id = "donationCycleOne" class = "donation">
                                    일시
                                </div>
                            </label>
    
                            <label class = "donationButton">
                                <input type = "radio" name = "cycle" value="정기">
                                <div  id = "donationCycleRecycle" class = "donation">
                                    정기
                                </div>
                            </label>
    
                        </div>
                    </div>
    
                    <div class = "donationProcess">
                        <div class = "donationProcessTitle">
                            후원 금액
                        </div>
                        <div class = "donationProcessArea ">
                            <label class = "donationButton">
                                <input type = "radio" name = "amount">
                                <div class = "donation">
                                    10,000원
                                </div>
                            </label>
    
                            <label class = "donationButton">
                                <input type = "radio" name = "amount">
                                <div class = "donation">
                                    30,000원
                                </div>
                            </label>
    
                            <label class = "donationButton">
                                <input type = "radio" name = "amount">
                                <div class = "donation">
                                    50,000원
                                </div>
                            </label>
    
                            <label class = "donationButton">
                                <input type = "radio" name = "amount">
                                <div class = "donation">
                                    100,000원
                                </div>                          
                            </label>
    
                            <label class = "donationButton">
                                <input type = "radio" name = "amount">
                                <div class = "donation">
                                    <!-- 이거 누르면 밑에 input 값 생기게 해야하나?-->
                                   직접입력
                                </div>
                            </label>
    
                        </div>
                    </div>
    
                    <div class = "donationProcess">
                        <div class = "donationProcessTitle">
                            후원자 한마디
                        </div>
                        <div class = "donationProcessArea">
                            <textarea class = "donationContent">
                            </textarea>
                        </div>
                    </div>
    
    
    
                    <div class = "donationProcessTerms">
                        <div class = "donationTerms ">
                            후원 신청 전에 꼭 확인해주세요!
                        </div>
    
                        <div class = "donationProcessCheck">
                            <label>
                                <input type = "checkbox" >
                                후원금액과 후원일을 확인했습니다.
                            </label>
    
                            <label>
                                <input type = "checkbox">
                                후원으로서 유기동물의 대한 책임을 함께 나누겠습니다.
                            </label>
                        </div>
    
                    </div>
    
                    <div class = "donationButtonArea">
                        <div class = "donationButtonBox">
                            후원하기
                        </div>
                    </div>

                </div>
            </section>
            




        </main>
    </body>
</html>