<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>서버에러가 발생했습니다.</title>
        
        <style>
			img{
				height : 50vh;
				display : block;
				margin : auto;
			}
			
			.btb-area{
				text-align: center;
			}
			
		</style>
        
        
    </head>
    <body>
       <img src = "/images/error/500.png">
       
       <div class = "btn-area">
		   	<button onclick="location.href='/'">메인페이지</button>
		   	<button onclick="history.back()">이전 페이지</button>
	   </div>
            
    </body>
</html>