<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>푸터</title>
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
</head>
<body>

    <footer>
        <div class="footer-content">
            
            <img src="images/phone.png" alt="전화번호 아이콘" width="30" height="30" style="margin-bottom: -10px;">
            <p>1544-9770</p>
        <br>
        <br>
        <p>주식회사 멍프랜드</p><br>
        <p>사업자번호 : 851-87-00622 | 사업장 주소 : 서울특별시 중구 남대문로 120 그레이츠 청계(구 대일빌딩) 2F, 3F</p><br><br>
        <p>&copy; Mungfriend all right reserved.</p>
        </div>
    </footer>

</body>
</html>