<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 nav</title>
    <link rel="stylesheet" href="/FinalProject/css/nav_admin.css">
    <script src="https://kit.fontawesome.com/ac58eafae7.js" crossorigin="anonymous"></script>
    
</head>
<body>

    <main>
        <!-- 타이틀 변경-->
        <section class = "adminIntroArea">
            <div class = "adminIntroTitle">
                회원 관리
            </div>
            <hr>
        </section>

        <!-- nav + 내용작성 -->
        <section class = "adminContentArea">

            <!-- nav 자리-->
            <nav class = "navAdmission">
                <ul>
                    <li> <a href = "#"> 1:1 문의함</a> </li>
                    <li> <a href = "#"> 예약 내역</a> </li>
                    <li> <a href = "#"> 후원 내역</a> </li>
                    <li> <a href = "#"> 입소신청 내역</a></li>
                    <li> <a href = "#"> 회원 관리</a></li>
                    <li> <a href = "#"> 관리 현황</a></li>
                </ul>
            </nav>

            <!-- 내용 영역-->
            <div class = "adminContentContainer">

                <!-- 이 안에 작성하면 될 거 같아요 div 잡구-->


            </div>
        </section>
    </main>
</body>
</html>