<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>후원내역 (사용자)</title>
        <link rel="stylesheet" th:href="@{/css/mypage/member/donationList_user.css}">
        <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
        
    </head>
    <body>


        <main>
            <section class = "userIntroArea">
                <div class = "userIntroTitle">
                    후원 내역
                </div>
                <hr>
            </section>

            <section class = "userContentArea">

                <!-- nav 자리-->
                <nav class = "navUser">
                    <ul>
                        <li> <a href = "#"> 찜한 목록</a> </li>
                        <li> <a href = "#"> 예약 내역 </a> </li>
                        <li> <a href = "#"> 후원 내역 </a> </li>
                        <li> <a href = "#"> 1:1 문의 </a></li>
                        <li> <a href = "#"> 쿠폰함 </a></li>
                        <li> <a href = "#"> 정보 수정 </a></li>
                        <li> <a href = "#"> 회원 탈퇴 </a></li>
                    </ul>
                </nav>

                <!-- 후원 내용 영역-->
                <div class = "userContentContainer">

                    <!-- 후원 내역 리스트 -->
                    <div class = "userDonationContainer">

                        <table class="donationTable">
                
                            <thead>
                                <tr class = "donationTheadTr">
                                    <th>번호</th>
                                    <th>일시/정기</th>
                                    <th>결제 일시 </th>
                                    <th>후원 금액</th>
                                </tr>
                            </thead>
        
                            <tbody>
                                
                                <tr class = "donationTBodyTr">
                                    <td>1</td>
                                    <td>정기</td>
                                    <td>2023-11-11-12:00</td>
                                    <td>120,000원</td>
                                </tr> 	
                                
                                <tr class = "donationTBodyTr">
                                    <td>2</td>
                                    <td>일시</td>
                                    <td>2023-11-13-13:30</td>
                                    <td>1,000,000원</td>
                                </tr>                                 

                                <tr class = "donationTBodyTr">
                                    <td>3</td>
                                    <td>일시</td>
                                    <td>2023-11-13-14:30</td>
                                    <td>10,000원</td>
                                </tr>   

                                <tr class = "donationTBodyTr">
                                    <td>4</td>
                                    <td>일시</td>
                                    <td>2023-11-15-13:30</td>
                                    <td>50,000원</td>
                                </tr>                                  

                            </tbody>
                        </table>
                    </div>


                    <!-- 페이지 네이션 -->
                    <div class="paginationArea">
                        <ul class="pagination">
                        
                            <!-- 첫 페이지로 이동 -->
                            <li><a href="#">&lt;&lt;</a></li>
        
                            <!-- 이전 목록 마지막 번호로 이동 -->
                            <li><a href="#">&lt;</a></li>
        
                            
                            <!-- 특정 페이지로 이동 -->
                            <!-- jsp 코드 
                            <c:forEach var="i" begin="${pagination.startPage}" end = "${pagination.endPage}" step="1">
                                
                                <c:choose>
                                    <c:when test="${i == pagination.currentPage }">
                                        <li><a class="current">${i}</a></li>
                                    </c:when>
                                    
                                    <c:otherwise>
                                        <li><a href="/board/${boardCode}/?cp=${i}${kq}">${i}</a></li>                  		
                                    </c:otherwise>
                                </c:choose>
                                
                            </c:forEach>
                            -->
                            <li><a class = "current">1</a></li>
                            <li><a href = "#">2</a></li>
                            <li><a href = "#">3</a></li>
                            <li><a href = "#">4</a></li>
                            <li><a href = "#">5</a></li>
                            <li><a href = "#">6</a></li>
                            <li><a href = "#">7</a></li>
                            <li><a href = "#">8</a></li>
                            <li><a href = "#">9</a></li>
                            <li><a href = "#">10</a></li>

                            
                            
                            <!-- 다음 목록 시작 번호로 이동 -->
                            <li><a href="#">&gt;</a></li>
        
                            <!-- 끝 페이지로 이동 -->
                            <li><a href="#">&gt;&gt;</a></li>
        
                        </ul>
                    </div>

                </div>
            </section>
        </main>
    </body>
</html>