<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1 문의</title>
    <link rel="stylesheet" href="1대1문의(답변완료).css">
    <script src="https://kit.fontawesome.com/ac58eafae7.js" crossorigin="anonymous"></script>

</head>

<body>

    <main>
        <!-- 사용자 마이페이지 타이틀 영역-->
        <section class="userIntroArea">
            <div class="userIntroTitle">
                1:1 문의
            </div>
            <hr>
        </section>

        <!-- 사용자 마이페이지 내용 영역-->
        <section class="userContentArea">

            <!-- nav 자리-->
            <nav class="navUser">
                <ul>
                    <li> <a href="#"> 찜한 목록</a> </li>
                    <li> <a href="#"> 예약 내역 </a> </li>
                    <li> <a href="#"> 1:1 문의 </a> </li>
                    <li> <a href="#"> 쿠폰함</a></li>
                    <li> <a href="#"> 정보 수정 </a></li>
                    <li> <a href="#"> 회원 탈퇴</a></li>

                </ul>
            </nav>

            <!-- 내용 작성영역-->
            <div class="userContentContainer">
                
                <div class="fixedLabel">제목</div>
                <input type="text" id="title" class="inputBox" value="집 가고 싶어요" readonly>

                <div class="fixedLabel">문의 내용</div>
                <textarea id="content" class="inputBox textareaBox" readonly>6시가 됐으면 좋겠다....</textarea>

                <div class="fixedLabel">답변 내용</div>
                <textarea id="content" class="inputBox textareaBox" readonly>얼른 집 가세요</textarea>

            
            </div>
        </section>
    </main>
</body>

</html>