<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1대1문의함 (사용자)</title>
        <link rel="stylesheet" href="1대1문의함(사용자).css">
        <script src="https://kit.fontawesome.com/ac58eafae7.js" crossorigin="anonymous"></script>
        
    </head>
    <body>

        <main>
            <section class = "adminIntroArea">
                <div class = "adminIntroTitle">
                    1:1 문의함
                </div>
                <hr>
            </section>

            <section class = "adminContentArea">

                <!-- nav 자리-->
                <nav class = "navAdmission">
                    <ul>
                        <li> <a href = "#"> 찜한 목록 </a> </li>
                        <li> <a href = "#"> 예약 내역 </a> </li>
                        <li> <a href = "#"> 후원 내역 </a> </li>
                        <li> <a href = "#"> 1:1 문의 </a></li>
                        <li> <a href = "#"> 쿠폰함 </a></li>
                        <li> <a href = "#"> 정보 수정 </a></li>
                        <li> <a href = "#"> 회원 탈퇴 </a></li>
                    </ul>
                </nav>

                <!-- 후원 내용 영역-->
                <div class = "adminContentContainer">

                    <!-- 후원 검색 창-->
                


                    <!-- 후원 내역 리스트 -->
                    <div class = "adminDonationContainer">
                        <div class = "tableFix">
                            <table class="donationTable">
                    
                                <thead>
                                    <tr class = "donationTheadTr">
                                        <th>번호</th>
                                        <th>닉네임</th>
                                        <th>제목</th>
                                        <th>작성일</th>
                                        <th>처리 상황</th>
                                    </tr>
                                </thead>
            
                                <tbody>
                                    
                                    <tr class = "donationTBodyTr">
                                        <td>1</td>
                                        <td>뽀삐</td>
                                        <td>이유진 울보래요</td>
                                        <td>2023-11-11-12:00</td>
                                        <td>답변완료</td>
                                    </tr> 	
                                    
                                    <tr class = "donationTBodyTr">
                                        <td>1</td>
                                        <td>삐뽀</td>
                                        <td>울보 이유진</td>
                                        <td>2023-11-13-13:30</td>
                                        <td>처리중</td>
                                    </tr>                                 
    
                                    <tr class = "donationTBodyTr">
                                        <td>1</td>
                                        <td>뽀삐뽀</td>
                                        <td>이유진 11-17 뜬끔없이 울다.</td>
                                        <td>2023-11-13-13:30</td>
                                        <td>처리중</td>
                                    </tr>                                 
     
                                    <tr class = "donationTBodyTr">
                                        <td>1</td>
                                        <td>뽀삐뽀</td>
                                        <td>이유진 11-17 뜬끔없이 울다.</td>
                                        <td>2023-11-13-13:30</td>
                                        <td>처리중</td>
                                    </tr>                                 
     
                                    
                                    <tr class = "donationTBodyTr">
                                        <td>1</td>
                                        <td>뽀삐뽀</td>
                                        <td>이유진 11-17 뜬끔없이 울다.</td>
                                        <td>2023-11-13-13:30</td>
                                        <td>처리중</td>
                                    </tr>                                 
     
                                    <tr class = "donationTBodyTr">
                                        <td>1</td>
                                        <td>뽀삐뽀</td>
                                        <td>이유진 11-17 뜬끔없이 울다.</td>
                                        <td>2023-11-13-13:30</td>
                                        <td>처리중</td>
                                    </tr>                                 
     
                                    <tr class = "donationTBodyTr">
                                        <td>1</td>
                                        <td>뽀삐뽀</td>
                                        <td>이유진 11-17 뜬끔없이 울다.</td>
                                        <td>2023-11-13-13:30</td>
                                        <td>처리중</td>
                                    </tr>                                 
     
                                    <tr class = "donationTBodyTr">
                                        <td>1</td>
                                        <td>뽀삐뽀</td>
                                        <td>이유진 11-17 뜬끔없이 울다.</td>
                                        <td>2023-11-13-13:30</td>
                                        <td>처리중</td>
                                    </tr>                                 
     
                                    <tr class = "donationTBodyTr">
                                        <td>1</td>
                                        <td>뽀삐뽀</td>
                                        <td>이유진 11-17 뜬끔없이 울다.</td>
                                        <td>2023-11-13-13:30</td>
                                        <td>처리중</td>
                                    </tr>                                 
     
    
                                                             
    
                                </tbody>
                            </table>
                        </div>
                     

                    </div>

                    <div class = "buttonArea">
                        <button class="inquiryButton">문의하기</button>
                    </div>


                    <!-- 페이지 네이션 -->
                    <div class="paginationArea">
                        <ul class="pagination">
                        
                            <!-- 첫 페이지로 이동 -->
                            <li><a href="#">&lt;&lt;</a></li>
        
                            <!-- 이전 목록 마지막 번호로 이동 -->
                            <li><a href="#">&lt;</a></li>
        
                            
                            <!-- 특정 페이지로 이동 -->
                            <!-- jsp 코드 
                            <c:forEach var="i" begin="${pagination.startPage}" end = "${pagination.endPage}" step="1">
                                
                                <c:choose>
                                    <c:when test="${i == pagination.currentPage }">
                                        <li><a class="current">${i}</a></li>
                                    </c:when>
                                    
                                    <c:otherwise>
                                        <li><a href="/board/${boardCode}/?cp=${i}${kq}">${i}</a></li>                  		
                                    </c:otherwise>
                                </c:choose>
                                
                            </c:forEach>
                            -->
                            <li><a class = "current">1</a></li>
                            <li><a href = "#">2</a></li>
                            <li><a href = "#">3</a></li>
                            <li><a href = "#">4</a></li>
                            <li><a href = "#">5</a></li>
                            <li><a href = "#">6</a></li>
                            <li><a href = "#">7</a></li>
                            <li><a href = "#">8</a></li>
                            <li><a href = "#">9</a></li>
                            <li><a href = "#">10</a></li>

                            
                            
                            <!-- 다음 목록 시작 번호로 이동 -->
                            <li><a href="#">&gt;</a></li>
        
                            <!-- 끝 페이지로 이동 -->
                            <li><a href="#">&gt;&gt;</a></li>
        
                        </ul>
                    </div>

                </div>
            </section>
        </main>
    </body>
</html>