@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

*{
    box-sizing: border-box;
    list-style : none; /* 리스트 스타일 X */
    text-decoration: none;
    padding: 0;
    margin: 0;

    font-family: 'NanumGothic', 'sans-serif';
}


main{
    /* min-height: 1080px; */
    height: auto;
    width: 1920px;

    display: flex;
    flex-direction: column;

    /*여백 이렇게 잡아도 되는지 모르겠음.*/
    /* padding: 0px 460px; */
    padding: 0px 20%;
}

/*************************************************
                후원하기 Intro
*************************************************/
.donationIntro{
     flex-basis: 30%;  
     
     /* padding : 20px 100px; */
     padding : 20px 18%;
}

.donationIntroTitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.donationIntroContent > pre{

    line-height: 200%;
    padding : 10px;
    font-size: 15px;
    color: #7C7C7C;
}


/*************************************************
                후원하기 Box
*************************************************/


.donationProcessBoxArea{
    flex-basis: 70%;

    /* padding : 20px 70px; */
    /* padding : 20px 8%; */
    padding : 20px 18%;
}

.donationProcessBox{
    border: 5px solid #FEE4D6;
    border-radius: 10px;
    display : flex;
    flex-direction: column;
    padding : 10px 20px;
    
}

.donationProcess{
    display: flex;
    padding : 20px 10px;
}

.donationProcessTitle{
    flex-basis: 15%;

    display: flex;
    justify-content: start;
    align-items: center;

    padding-right : 10px;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.donationProcessArea{
    flex-basis : 85%;
    display: flex;
}

/*선택 할 버튼*/
.donationButton{
    flex-basis: 17%;
    border-radius: 10px;
    border: 5px solid #FEE4D6;
    padding : 10px 10px;
    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .AmountFlex{
    flex-basis: 100%;
    border : 2px solid red;
    justify-content: space-between;
} */

.donation{
    font-size: 12px;
}


input[type="radio"]{
    display: none;
}

/*◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆선택할 때 색상 변경 어떻게 해야할지 모르겠움.◆◆◆◆◆◆◆◆◆◆◆◆◆◆*/
/*부모선택자 뭐야..*/
input[name="cycle"]:checked + div{
    border : 5px solid red;
}

input[name="amount"]:checked + div{
    border : 5px solid blue;
}
/*◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆*/




/* textarea*/
.donationContent{
    height : 201px;
    flex-basis : 100%;


    padding : 10px 5px;
    
    border : none;
    border-radius: 10px;
    background: #FEE4D6;
}



/*약관동의 전체 div */
.donationProcessTerms{
    display: flex;
    flex-direction: column;
    padding : 10px;
}

/*약관동의 공지*/
.donationTerms{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding : 25px 40px;
}

/*약관동의 체크 내용 전체 div*/
.donationProcessCheck{

    display: flex;
    flex-direction: column;
    padding : 10px;
    padding-left: 70px;
}

.donationProcessCheck > label {
    padding : 20px 10px; 

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    /* justify-content: center; */
}

/*체크박스 margin*/
.donationProcessCheck > label > input{
    margin-right: 5px;
}


/*후원하기 버튼*/
.donationButtonArea{
    padding : 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donationButtonBox{
    border-radius: 10px;
    background: #FEE4D6;
    padding : 20px 30px;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}




















